interpreter-cell:not(.oj-complete) {
  visibility: hidden;
}

interpreter-cell {
  min-height: 50px;
  width: 50px;
}

.oj-textarea {
  display: initial;
}

.oj-textarea-input {
  height: 100px;
}

.oj-button {
  margin-bottom: 10px;
}
